@media screen and (min-width: 769px) {
  .container {
    background: $pale-blue url('../images/pattern-background-desktop.svg')
      no-repeat;

    &-card {
      height: 65rem;
      width: 40rem;

      .container-image {
        height: 200px;
        background-position: center;
      }
    }
  }
}
